/* Estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ffffff;
    color: #333;
}



nav ul {
    list-style-type: none;
    padding: 10px;
    background-color: #ffb6c1;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #98fb98;
}

/* Bloque de contenido 
{% block content %}
    /* Aquí se agregan los estilos personalizados para el bloque de contenido de cada página 
{% endblock %}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 30px;
    text-align: center;
    /*position: relative;*/
}

footer p {
    margin: 0;
}
