/* Estilo para el contenedor de arreglos */
.arreglos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

/* Cada producto (arreglo) */
.arreglo-item {
    width: 250px;
    border: 2px solid #ffb6c1;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin: 15px;
    background-color: #fdfdfd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.arreglo-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.arreglo-item h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
}

.arreglo-item p {
    font-size: 18px;
    color: #777;
}

.arreglo-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* El enlace del producto no debe tener subrayado ni color predeterminado */
.arreglo-link {
    text-decoration: none;
    color: inherit;
}

.banner{

    width: 100%;
    text-align: center;

}

h1{
    text-align: center;
    
}