

    {% extends "base.html" %}
    {% block content%}
    {% load static%}
    <link rel="stylesheet" type="text/css" href="{%static '/styles/index.css'%}"><!--Cargar css desde django-->
    
    <br>
    <h1 style="text-align: center;">Nuestra cuidadosa seleccion para tus obsequios</h1>
    <div class="arreglos-container">
        {% for x in Arreglos  %}
        <a href="/arreglo_detalle/{{x.nombre}}" class="arreglo-link">
            <div class="arreglo-item">
                <h3>{{x.nombre}}</h3>
                <img src="{{x.ImgUrl}}" alt="">
                <p>Precio: {{x.precio}}</p>
            </div>
        </a> 
        {% endfor %}
    </div> 
    {% endblock %}
