<!--{% extends "base.html" %}-->

{% block content %}
{% load static%}
    <link rel="stylesheet" type="text/css" href="{%static '/styles/arreglo.css'%}"> <!--Cargar css desde django-->
    <link rel="stylesheet" type="text/css" href="{%static '/styles/index.css'%}"><!--Cargar css desde django-->
    <div class="floreria">
        <div class="arreglo-container">
            <img src="{{ arreglo.ImgUrl }}" alt="{{ arreglo.nombre }}">
            
            <div class="arreglo-info">
                <h1>{{ arreglo.nombre }}</h1>
                <p>{{ arreglo.descripcion }}</p>
                <p>Precio: {{ arreglo.precio }}</p>
                <a href="/crear_pedidos/{{arreglo.id}}"><button>Comprar Ahora</button></a>
            </div>
        </div>
    </div>
    <div class="arreglos-container">
        {% for x in Arreglos  %}
        <a href="/arreglo/{{x.id}}" class="arreglo-link">
            <div class="arreglo-item">
                <h3>{{x.nombre}}</h3>
                <img src="{{x.ImgUrl}}" alt="">
                <p>Precio: {{x.precio}}</p>
            </div>
        </a> 
        {% endfor %}
    </div> 
{% endblock %}