{% extends "base.html" %}

{% block content %}
{% load static%}
<link rel="stylesheet" type="text/css" href="{%static '/styles/carrito_compras.css'%}"><!--Cargar css desde django-->
<script src="{% static 'js/carrito.js' %}" defer> </script>

<div class="mensaje" id="mensaje"><p>{{mensaje}}</p></div>
<div class="contenedor-principal">
    <div class="lista-productos">
      {% for arreglo,cantidad,total_arreglo in cantidad_y_arreglo %}
        <div class="producto">
           <a href="/arreglo_detalle/{{arreglo.id}}"> <img src="{{arreglo.ImgUrl}}" alt=""></a>
          <div>
            <p class="nombre-producto">{{arreglo.nombre}}</p> 
            <p>Stock:{{arreglo.stock}}</p>
            <p>Precio: {{total_arreglo}}</p>
            <div class="cantidad-controles"> 
              <form method="POST">
                {% csrf_token %}
                <input type="text" name="id" id="id"  value="{{arreglo.id}}" hidden>
                <input type="number" value="{{cantidad}}" min="1" max="{{arreglo.stock}}" readonly>
                <button name="opcion" id="menos" value="menos">-</button>
                <button name="opcion" id="mas" value="mas">+</button>
                <button name="opcion" id="eliminar" value="eliminar">Eliminar</button>  </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="resumen-compra">
      <h2>Resumen de compra</h2>
      <p>Total: {{total}}</p>
      <form action="" method="POST">
        {% csrf_token %}
      <button name="opcion" value="proceder_pago" class="Btn_continuar_compra">Continuar Compra</button>
      </form>
    </div>
  </div>
{% endblock %}
