{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/forms.css' %}"> <!-- Cargar CSS desde Django -->
<script src="{% static 'js/crear_pedidos.js' %}" defer> </script>

<div class="container">
<div class="formulario-container">
    <form method="POST" id="multiStepForm">
        {% csrf_token %}
        
        <!-- Paso 1: Datos del Cliente -->
        <div class="form-step active">
            <h2>Datos del Cliente</h2>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" required maxlength="10">

            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>

            <label for="cedula">Cedula</label>
            <input type="text" name="cedula" id="cedula" maxlength="15" required>

            <label for="celular">Numero celular</label>
            <input type="text" name="celular" id="celular" maxlength="10" required>

            <label for="nombreR">Nombre de quien recibe</label>
            <input type="text" name="nombreR" id="nombreR" required>

            <div class="form-navigation">
                <button type="button" onclick="nextStep()" id="Btn_siguiente">Siguiente</button>
            </div>
        </div>

        <!-- Paso 2: Datos de Dirección -->
        <div class="form-step">
            <h2>Datos de la Dirección</h2>
            

            <label for="direccion">Direccion</label>
            <input type="text" name="direccion" id="direccion" required>

            <label for="municipio">Municipio</label>
            <input type="text" name="municipio" id="municipio" required>

            <label for="barrio">Barrio</label>
            <input type="text" name="barrio" id="barrio" required>

            <label for="celularR">Celular de quien recibe</label>
            <input type="text" name="celularR" id="celularR" maxlength="10" required>

            <label for="quienEnvia">Quien envia</label>
            <input type="text" name="quienEnvia" id="quienEnvia">

            <label for="mensaje">Mensaje</label>
            <textarea name="mensaje" id="mensaje"></textarea>

            <label for="fechaenvio">Fecha y Hora:</label>
            <input type="datetime-local" id="fechaenvio" name="fechaenvio" required>

            <label for="mi-lista">Selecciona una opción:</label>
            <select name="metodoP" id="metodoP">
                <option value="valor1">PSE</option>
                <option value="valor2">Paypal</option>
            </select>

            <div class="form-navigation">
                <button type="button" onclick="prevStep()">Atrás</button>
                <button type="submit" name="proceder_pago" value="proceder_pago">Proceder al pago</button>
            </div>
        </div>
    </form>
</div>

<div class="cart-container">
    <h4>Mi carrito</h4>
    <div class="cart-items">
        {% for arreglo, cantidad, total_arreglo in cantidad_y_arreglo %}
        <div class="cart-item">
            <img src="{{ arreglo.ImgUrl }}" alt="{{ arreglo.nombre }}" class="cart-item-img">
            <div class="cart-item-info">
                <p class="cart-item-name">{{ arreglo.nombre }}</p>
                <p class="cart-item-quantity">Cantidad: {{ cantidad }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <p class="cart-total">Total: {{ total }}</p>
</div>
</div>

<script>

</script>
{% endblock %}
